<!-- 404 PAGE -->
<div id="404-page">
    <section id="404" class="fullheight align-items--center bg-image"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xs-12">
                    <div class="message-404">
                            Trang bạn tìm kiếm không tồn tại, vui lòng quay lại <a href="home">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>