<!-- Home PAGE -->
<div id="home-page">
    <!-- SECTION HOME -->
    <section id="home" class="fullheight align-items--center bg-image"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <div class="slogan ">
                        <h1 class="play-on-scroll">
                            New Engineer is Created
                        </h1>
                    </div>
                </div>
                <div class="col-6 col-xs-12">
                    <div class="slogan ">
                        <p class="play-on-scroll">Nơi bạn không chỉ có thể học lập trình, kỹ sư phần mềm và
                            hệ thống và tiếp xúc với các công nghệ tiên tiến, những con người có tâm và cơ hội việc
                            làm
                            rộng mở.</p>
                        <br>
                        <p class="play-on-scroll">Các khoá học tại <b><span class="primary-color">201Cre</span><span
                                    class="secondary-color">Academy</span></b>
                            không chỉ lý thuyết mà còn là kinh nghiệm & ứng dụng một cách phù hợp nhất.</p>
                        <div class="play-on-scroll">
                            <button>
                                Đăng ký ngay
                            </button>
                            <button class="secondary-button">
                                Lịch khai giảng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TARGET MENU SECTION -->
    <section class="align-items--center bg-image bg-img--fixed" id="target-section"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <h1>
                KHÓA HỌC <span class="primary-color">LẬP TRÌNH</span> CỦA <span
                    class="primary-color">201CRE</span><span class="secondary-color">ACADEMY</span> DÀNH CHO AI?
            </h1>

            <div class="row">
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">
                        <div class="target-info">
                            <h3>HỌC SINH YÊU CÔNG NGHỆ</h3>
                        </div>
                        <div class="target-content">
                            <div class="target-image bg-image"
                                style="background-image: url('/assets/hoc-sinh.jpg');">
                            </div>
                            <p>
                                Học sinh ngồi trên ghế nhà trường nhưng đam mê công nghệ, đang trong quá
                                trình tìm kiếm ngành học có tương lai rộng mở.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">
                        <div class="target-info">
                            <h3>ĐANG LÀ SINH VIÊN ĐẠI HỌC</h3>
                        </div>
                        <div class="target-content">
                            <div class="target-image bg-image"
                                style="background-image: url('/assets/sinh-vien.jpg');">
                            </div>
                            <p>
                                Sinh viên khối ngành CNTT/Trái ngành muốn tìm kiếm môi trường học thực hành lập
                                trình đầy đủ, chuyên nghiệp
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-3 col-xs-12">
                    <div class="target-wrap play-on-scroll">
                        <div class="target-info">
                            <h3>NGƯỜI ĐI LÀM TRONG NGÀNH CNTT</h3>
                        </div>
                        <div class="target-content">
                            <div class="target-image bg-image" style="background-image: url('/assets/coder.png');">
                            </div>
                            <p>
                                Mong muốn nâng cao kiến thức chuyên môn, tiếp cận công nghệ mới với mục đích lên
                                chức danh và nâng
                                cao thu nhập
                            </p>
                        </div>
                    </div>
                </div> -->
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">
                        <div class="target-info">
                            <h3>NGƯỜI LÀM TRÁI NGÀNH</h3>
                        </div>
                        <div class="target-content">
                            <div class="target-image bg-image"
                                style="background-image: url('/assets/cong-nhan.jpg');">
                            </div>
                            <p>
                                Đã chán với việc làm hiện tại và muốn chuyển ngành, tìm kiếm công việc có thu nhập
                                hấp dẫn, có xu hướng trong tương lai.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION ABOUT -->
    <section class="about fullheight" id="about"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <div class="row ">
                <div class="col-5 h-xs">
                    <img src="/assets/flat-logo-4.png" class="fullwidth play-on-scroll" alt="">
                </div>
                <div class="col-7 col-xs-12 play-on-scroll">
                    <div class="about-slogan">
                        <h3>201<span class="primary-color">CRE</span>Academy tạo ra các
                            <span class="primary-color">
                                khóa học
                            </span> bài bản dành cho
                            <span class="primary-color">
                                bạn
                            </span>
                        </h3>
                        <p class="about-slogan-title">
                            <i class="icon fa fa-check" aria-hidden="true"></i>
                            <b>201 <span class="primary-color">CRE</span>ATED</b>
                        </p>
                        <p>
                            201 Created là trạng thái của HTTP Request khi một thực thể được tạo ra
                        </p>
                        <br>
                        <p class="about-slogan-title">
                            <i class="icon fa fa-check" aria-hidden="true"></i>
                            <b><span class="primary-color">CRE</span>ATIVE</b>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totaresaepe minima, ut id
                            blanditiis officia quas necessitatibus quibusdam.
                        </p>
                        <br>
                        <p class="about-slogan-title">
                            <i class="icon fa fa-check" aria-hidden="true"></i>
                            <b>IN<span class="primary-color">CRE</span>DIBLE</b>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totamiandaecia quas
                            necessitatibus
                            quibusdam. Nam facilis vero accusamus ipsum? Voluptates, delectus.
                        </p>
                        <br>
                        <p class="about-slogan-title">
                            <i class="icon fa fa-check" aria-hidden="true"></i>
                            <b>IN<span class="primary-color">CRE</span>ASING</b>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- COURSE MENU SECTION -->
    <section class="align-items--center bg-image bg-img--fixed" id="course-section"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <div class="course-menu">
                <h1>
                    TẤT CẢ <span class="primary-color">KHÓA HỌC</span> BẠN CẦN
                </h1>

                <p>
                    Khóa học được thiết kế dựa trên nhu cầu tuyển dụng và kiến thức thực tế tại các công ty, không
                    chỉ
                    đơn thuần kỹ thuật mà còn là kỹ năng tư duy phân tích đáp ứng nghiệp vụ.
                </p>

                <div class="course-category">
                    <div class="play-on-scroll">
                        <button class="btn-category active" data-item="all">Tất cả</button>
                    </div>
                    <div class="play-on-scroll">
                        <button class="btn-category" data-item="java">Java</button>
                    </div>
                    <div class="play-on-scroll">
                        <button class="btn-category" data-item="python">Python</button>
                    </div>
                    <div class="play-on-scroll">
                        <button class="btn-category" data-item="data">Data</button>
                    </div>
                </div>
                <!-- All item -->

                <!-- Java item -->
                <div class="course-item-wrap play-on-scroll">
                    <div class="course-item col-4" data-item="java python data">
                        <a href="/courses-it-fundamentals">
                            <div class="item-wrap">
                                <div class="item-img">
                                    <div class="img-holder bg-image"
                                        style="background-image: url('/assets/courses-it-fundamentals.png');">

                                    </div>
                                </div>
                                <div class="item-info">
                                    <div>
                                        <h3>
                                            IT Fundamentals
                                        </h3>
                                        <span>
                                            1.499.000đ
                                        </span>
                                    </div>
                                    <div class="cart-btn">
                                        <i class="fa fa-cart-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="course-item col-4" data-item="java">
                        <div class="item-wrap" onclick='redirect("java-core");'>
                            <div class="item-img">
                                <div class="img-holder bg-image"
                                    style="background-image: url('/assets/courses-java-core.jpg');">

                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                        Java Core
                                    </h3>
                                    <span>
                                        1.999.000đ
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="course-item col-4" data-item="java">
                        <div class="item-wrap">
                            <div class="item-img">
                                <div class="img-holder bg-image"
                                    style="background-image: url('/assets/courses-java-servlet.png');">

                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                        Java Fullstack/JSP Servlet
                                    </h3>
                                    <span>
                                        2.499.000đ
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="course-item col-4" data-item="java">
                        <div class="item-wrap ">
                            <div class="item-img">
                                <div class="img-holder bg-image"
                                    style="background-image: url('/assets/courses-java-spring.jpg');">

                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                        Java Backend/Spring Boot
                                    </h3>
                                    <span>
                                        3.499.000đ
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Python item -->
                    <div class="course-item col-4" data-item="python">
                        <div class="item-wrap ">
                            <div class="item-img">
                                <div class="img-holder bg-image"
                                    style="background-image: url('/assets/courses-python.jpg');">

                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                        Python Backend
                                    </h3>
                                    <span>
                                        2.499.000đ
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Data item -->
                    <div class="course-item col-4" data-item="data">
                        <div class="item-wrap ">
                            <div class="item-img">
                                <div class="img-holder bg-image"
                                    style="background-image: url('/assets/courses-data.jpg');">

                                </div>
                            </div>
                            <div class="item-info">
                                <div>
                                    <h3>
                                        Data Engineer
                                    </h3>
                                    <span>
                                        2.499.000đ
                                    </span>
                                </div>
                                <div class="cart-btn">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL SECTION -->
    <section class="align-items--center bg-image bg-img--fixed" id="testimonial"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <h1>
                ĐÁNH GIÁ <span class="primary-color">HỌC VIÊN</span>
            </h1>
            <div class="row">
                <div class="col-4 col-xs-12">
                    <div class="review-wrap play-on-scroll">
                        <div class="review-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, dolores!
                                Voluptatem,
                                repellendus perspiciatis delectus voluptas nulla adipisci porro dignissimos laborum
                                excepturi. tenetur?
                            </p>
                            <div class="review-image bg-image"
                                style="background-image: url('/assets/close-up-portrait-cute-young-woman-holding-textbook-colored-pencils-posing-studio-isolated-pink_176532-9674.jpg');">

                            </div>
                        </div>
                        <div class="review-info">
                            <h3>Học viên Java Spring Boot K24</h3>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="play-on-scroll">
                        <div class="review-wrap">
                            <div class="review-content ">
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, dolores!
                                    Voluptatem, repellendus perspiciatis delectus voluptas nulla adipisci porro
                                    dignissimos laborum excepturi. tenetur?
                                </p>
                                <div class="review-image bg-image"
                                    style="background-image: url('/assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg');">

                                </div>
                            </div>
                            <div class="review-info">
                                <h3>Học viên Python Backend K17</h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="review-wrap play-on-scroll">
                        <div class="review-content">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, dolores!
                                Voluptatem,
                                repellendus perspiciatis delectus voluptas nulla adipisci porro dignissimos laborum
                                excepturi. tenetur?
                            </p>
                            <div class="review-image bg-image"
                                style="background-image: url('/assets/portrait-happy-young-man_171337-21716.jpg');">

                            </div>
                        </div>
                        <div class="review-info">
                            <h3>Học viên Data Engineer K9</h3>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Profile SECTION -->
    <section class="align-items--center bg-image bg-img--fixed" id="profile-section"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <h1>
                ĐỘI NGŨ <span class="primary-color">GIẢNG VIÊN</span>
            </h1>
            <div class="row">
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">

                        <div class="target-content">
                            <div class="profile-image bg-image"
                                style="background-image: url('/assets/hoc-sinh.jpg');">
                            </div>
                        </div>
                        <div class="profile-title">
                            <h3>Giảng Viên Hà Lê Thịnh</h3>
                        </div>
                        <div class="profile-description-container">
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect/Team Leader/Senior Software Engineer tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Tốt nghiệp loại giỏi đại học Bách Khoa Hà Nội chuyên ngành Công nghệ thông tin và truyền thông Global ICT</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Nhiều năm kinh nghiệm về lĩnh vực phát triển phần mềm tại nhiều công ty lớn (FPT Software, CMC Global, Savis Technology Group)</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Nhiều kinh nghiệm làm việc với các khách hàng lớn trong nước như BIDV, Agribank, BaoViet Bank, Lab Group,...</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Nhiều kinh nghiệm làm việc với các khách hàng nước ngoài đến từ Anh, Thụy Sĩ, Singapore, Australia, Ấn Độ như Income, Avaloq, Envision,...</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Chứng chỉ AWS Certified Solutions Architect – Associate</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Chứng chỉ Java provided by Mangtas</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Chứng chỉ WSO2 Certified Identity Server Developer - V5</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Chứng chỉ MMM - Management Middle Managers</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">

                        <div class="target-content">
                            <div class="profile-image bg-image"
                                style="background-image: url('/assets/hoc-sinh.jpg');">
                            </div>
                        </div>
                        <div class="profile-title">
                            <h3>Giảng Viên Nguyễn Mạnh Hiếu</h3>
                        </div>
                        <div class="profile-description-container">
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Software Engineer tại FPT Cloud</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>5 năm kinh nghiệm về lĩnh vực phát triển phần mềm</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-xs-12">
                    <div class="target-wrap play-on-scroll">

                        <div class="target-content">
                            <div class="profile-image bg-image"
                                style="background-image: url('/assets/hoc-sinh.jpg');">
                            </div>
                        </div>
                        <div class="profile-title">
                            <h3>Giảng Viên Đặng Thu Trang</h3>
                        </div>
                        <div class="profile-description-container">
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>7 năm kinh nghiệm về lĩnh vực phát triển phần mềm</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                            <p class="profile-description">
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <span>Technical Architect tại FPT Software</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>