<!-- Fundamentals PAGE -->
<div id="it-fundamentals-page">
    <section id="it-fundamentals-home" class="fullheight align-items--center bg-image"
        style="background-image: radial-gradient(at top left, #E2FFEC 20%, #fff 97%)">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <div class="slogan ">
                        <h1 class="play-on-scroll">
                            IT Fundamentals
                        </h1>
                    </div>
                </div>
                <div class="col-6 col-xs-12">
                    <div class="slogan ">
                        <p class="play-on-scroll">Nơi bạn không chỉ có thể học lập trình, kỹ sư phần mềm và
                            hệ thống và tiếp xúc với các công nghệ tiên tiến, những con người có tâm và cơ hội việc
                            làm
                            rộng mở.</p>
                        <br>
                        <p class="play-on-scroll">Các khoá học tại <b><span class="primary-color">201Cre</span><span
                                    class="secondary-color">Academy</span></b>
                            không chỉ lý thuyết mà còn là kinh nghiệm & ứng dụng một cách phù hợp nhất.</p>
                        <div class="play-on-scroll">
                            <button>
                                Đăng ký ngay
                            </button>
                            <button class="secondary-button">
                                Lịch khai giảng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>